<h1>List of Restaurants</h1>

<% @restaurants.each do |r| %>
    <p>
        <%= link_to r.name+ " " + r.address, r %>, 
        <%= link_to 'Delete', restaurant_path(r), :confirm => "Are you sure you want to delete this restaurant?", :method => :delete %>
        
      </p>
<% end %>